.nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 30px;
    background: hsla(0, 0%, 100%, 0.9);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
    box-shadow: 0 0 10px hsla(0, 0%, 100%, 0.05) ;
    z-index: 5;


}

.nav-wrapper{
    display: flex;
    justify-content: space-between;


}

.nav-bar{
    position: static;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 0%;
    display: flex;
    flex-direction: row;    
    gap: 30px
}

.link{
    color: black;
    font-size: 22px;
    transition: 0.5s ease-in ;
}

.link:hover{
    color: orange;
}

.container{
    overflow:hidden;
    position:relative;
    margin: auto;
    max-width: 1440;
    background-color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.food-image{
    position: absolute;
    width: 20%;
}

.f1{
    top:25%;
    right:-4%;
}

.f2{
    top:7%;
    right:-4%;
}

.f3{
    top:40%;
    right: -10%;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.home-left{
    

}

.home-left p{
    display: inline-block;
}

.home-right{
    position: relative;

}